# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist
/src-tauri/target
/src-tauri/gen
/target-experiment/
/src-tauri/target-experiment/
flowpilot_diag.log

# misc
.DS_Store
*.pem
*.key
*.key.pub

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Others
.env
.env.production
.env.development
.vercel

.env*.local
.vercel
